<div id="mdm_maint">
	<h1><%= @mdm_object.name %></h1>
   <div  ng-controller="<%= @mdm_object.name %>Controller">
    <form novalidate class="simple-form">
    <% @mdm_object.mdm_columns.each do |mdmcol| %>
        <% icol = "@item.#{mdmcol.name}" %>
    	<%= mdmcol.name %>:<input type="text" ng-model="<%= @mdm_object.name %>.<%= mdmcol.name %>" value="<%= eval(icol) if @item %>" ><br/>
    <% end %>
    <input type="text" value="hello">
    <button ng-click="update(<%= @mdm_object.name%>)">SAVE</button>
    </form>
  </div>
</div>
  
  <script>
  
  function <%= @mdm_object.name%>Controller($scope,$http) {
    $scope.title = 'Hola amigos!';
    <% @mdm_object.mdm_columns.each do |mdmcol| %>
        <% if @item %>
           <% icol = "@item.#{mdmcol.name}" %>
           <%= "$scope.#{mdmcol.name} = eval(icol)" %>
        <% end %>
    <% end %>
	
	$scope.update = function(<%= @mdm_object.name%>) {
		alert(<%= @mdm_object.name%>.name);
		var rest_url='/api/mdm_objects?name="trips"&action="add"';
		// post here to the end point
	}
	


};

  
  </script>