<div id="mdm_maint">
	<h1><%= @mdm_object.name %></h1>
   <div  ng-controller="<%= @mdm_object.name %>Controller">
    <form novalidate class="simple-form container">
    <% @mdm_object.mdm_columns.each do |mdmcol| %>
        <% icol = "@item.#{mdmcol.name.strip}" %>
        <div class="row">
    	   <div class="col-md-2" ><%= mdmcol.name %>
    	   </div>
    	   <div class="col-md-4" >
    	       <input type="text" ng-model="<%= @mdm_object.name %>.<%= mdmcol.name %>" value="<%= eval(icol) if @item %>" >
    	   </div>
        </div>
    <% end %>
    <button ng-click="update(<%= @mdm_object.name%>)">SAVE</button>
    <input type="hidden" ng-model="<%= @mdm_object.name %>.ar_name="<%= @mdm_object.name%>" value="2013-05-29 15:25:00 UTC" >
    
    </form>
  </div>
</div>
  
  <script>
   function <%= @mdm_object.name%>Controller($scope,$http) {
     <%= "$scope.#{@mdm_object.name} = " %> {};
     <%= "$scope.#{@mdm_object.name}.ar_name = '#{@mdm_object.name}';".html_safe %>
    <% @mdm_object.mdm_columns.each do |mdmcol| %>
        <% if @item %>
           <% icol = eval("@item.#{mdmcol.name}") %>
           <% icol = "@item.#{mdmcol.name.strip}" %>
           
           <% ival = eval(icol) %> 
           <%= ("$scope.#{@mdm_object.name}.#{mdmcol.name} = '" + ival.to_s + "'").html_safe %>;
           
        <% end %>
    <% end %>
	
	$scope.update = function(<%= @mdm_object.name%>) {
		var rest_url='/api/mdm_models/save?name="<%= @mdm_object.name%>"&action="add"';
		// post here to the end point
		$http({
        method  : 'POST',
        url     : rest_url,
        data    : $.param($scope.<%= @mdm_object.name%>),  // pass in data as strings
        headers : { 'Content-Type': 'application/x-www-form-urlencoded' }  // set the headers so angular passing info as form data (not request payload)
        })
        .success(function(data) {
            console.log("worked");
        });
		
	}
	


};

  
  </script>