<div id="mdm_maint">
   <h1><%= @mdm_object.name %></h1>
   <div  ng-controller="<%= @mdm_object.name %>Controller">
    <form novalidate class="simple-form container">
    <% @mdm_object.mdm_columns.each do |mdmcol| %>
        <% icol = "@item.#{mdmcol.name.strip}" %>
        <div class="row">
    	   <div class="col-md-2" ><%= mdmcol.name %>
    	   </div>
    	   <div class="col-md-4" >
    	       <% if mdmcol.mdm_data_type.name == "datetime" %>
    	       
                 <div class="row">
                    <div class="col-md-6">
                        <p class="input-group">
                          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="<%= @mdm_object.name %>.<%= mdmcol.name %>" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </p>
                    </div>
                </div>
     	       
    	       <% else %>
    	           <input type="text" ng-model="<%= @mdm_object.name %>.<%= mdmcol.name %>" value="<%= eval(icol) if @item %>" >
    	       <% end %>
    	   </div>
        </div>
    <% end %>
    <button ng-click="update(<%= @mdm_object.name%>)">SAVE</button>
    <input type="hidden" ng-model="<%= @mdm_object.name %>.ar_name"="<%= @mdm_object.name%>" value="2013-05-29 15:25:00 UTC" >
    
    </form>
  </div>
  <div class="spinner" ng-show="loading">Loading!</div>
</div>
  
  <script>
   function <%= @mdm_object.name%>Controller($scope,$http) {
     $scope.formats = ['dd-MMMM-yyyy', 'yyyy/MM/dd', 'dd.MM.yyyy', 'shortDate'];
     $scope.format = $scope.formats[0];
     
     $scope.open = function($event) {
        $event.preventDefault();
        $event.stopPropagation();
    
        $scope.opened = true;
    };
    
    <%= "$scope.#{@mdm_object.name} = " %> {};
    <%= "$scope.#{@mdm_object.name}.ar_name = '#{@mdm_object.name}';".html_safe %>
    <% @mdm_object.mdm_columns.each do |mdmcol| %>
        <% if @item %>
           <% icol = eval("@item.#{mdmcol.name}") %>
           <% icol = "@item.#{mdmcol.name.strip}" %>
           
           <% ival = eval(icol) %> 
           <%= ("$scope.#{@mdm_object.name}.#{mdmcol.name} = '" + ival.to_s + "'").html_safe %>;
           
        <% end %>
    <% end %>
	
	// called for save
    $scope.update = function(<%= @mdm_object.name%>) {
    	var rest_url='/api/mdm_objects/save?name="<%= @mdm_object.name%>"&action="add"';
    	// post here to the end point
    	$scope.loading = true;
    	$http({
        method  : 'POST',
        url     : rest_url,
        data    : $.param($scope.<%= @mdm_object.name%>),  // pass in data as strings
        headers : { 'Content-Type': 'application/x-www-form-urlencoded' }  // set the headers so angular passing info as form data (not request payload)
        })
        .success(function(data) {
            console.log("worked");
            alert("saved");
            $scope.loading = false;
        });
    	
    }
    
    $scope.dateOptions = {
        formatYear: 'yy',
        startingDay: 1
      };
    
    $scope.initDate = new Date('2016-15-20');
    $scope.formats = ['yyyy-MM-dd', 'yyyy/MM/dd', 'dd.MM.yyyy', 'shortDate'];
    $scope.format = $scope.formats[0];


};

  
  </script>