<div id="mdm_maint">
	<h1><%= @mdm_object.name %></h1>
   <div  ng-controller="<%= @mdm_object.name %>Controller">
    <form novalidate class="simple-form">
    <% @mdm_object.mdm_columns.each do |mdmcol| %>
    	<%= mdmcol.name %>:<input type="text" ng-model="<%= @mdm_object.name %>.<%= mdmcol.name %>" ><br/>
    <% end %>
    <button ng-click="update(<%= @mdm_object.name%>)">SAVE</button>
    </form>
  </div>
</div>
  
  <script>
  
  function <%= @mdm_object.name%>Controller($scope,$http) {
    $scope.title = 'Hola amigos!';
	
	$scope.update = function(<%= @mdm_object.name%>) {
		alert(<%= @mdm_object.name%>.name);
	}
	


};

  
  </script>